*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: azure;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

.controls{
    max-width: 800px;
    margin: 0 auto 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

selecct,button{
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    border: 1px;
    border-radius: 4px;
    background: white;
    transition: background-color 0.3;
}

select:hover, button:hover{
    background-color: rgb(217, 217, 217);
}

button.active{
    background-color:rgb(167, 110, 110);
    color: white;
    border-color: rgb(209, 117, 209);
}